* {
    margin: 0;
    padding: 0;




}

h1 {
    justify-content: center;
    text-shadow: 2px 2px 5px #A4351A;
    color: rgb(199, 228, 255);
    font-weight: bold;

    display: grid;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 25px;
    color: white;
    font-weight: bold;
    border: 2px solid rgb(255, 233, 233);
    text-shadow: 2px 2px 5px #A4351A;
    border-radius: 5px;

}

button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    padding: 11px;
    border-radius: 18px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 12px 5px 15px 5px;
    border: 4px hidden rgb(28, 110, 164);
    display: inline-block;
}


button:hover {
    background: #1C6EA4;
}

.output {
    display: grid;
}

.result {
    display: grid;
    justify-content: center;
    margin: 15px;
    padding: 25px;
}


.malang {
    margin: 10%;
    padding: 10%;
    border: 2px solid rgb(143, 8, 8);

    -webkit-box-shadow: 12px 5px 15px 5px rgba(110, 16, 37, 0.67);
    box-shadow: 12px 5px 15px 5px rgba(110, 16, 37, 0.67);

    opacity: 1;
    
}
body{
    background-image: url(https://images.pexels.com/photos/1187974/pexels-photo-1187974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    box-sizing: border-box;
    position: relative;

}

#result{
    justify-content: center;
    text-shadow: 2px 2px 5px #A4351A;
    color: rgb(199, 228, 255);
    font-weight: bold;
    margin-top: 45px;

    display: grid;
}
#comment{
    justify-content: center;
    text-shadow: 2px 2px 5px #A4351A;
    color: rgb(199, 228, 255);
    font-weight: bold;
    margin-top: 45px;
    font-weight: bolder;

    display: grid;
}


